In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [2]:
df = pd.read_csv("capao2022.csv")

In [9]:
df.head(20)

,Unnamed: 0,Título,Endereço,Número,Bairro,Cidade,Estado,Área,Quartos,Banheiros,Vagas,Preço
0,0,"Apartamento com 4 Quartos à Venda, 191m²",Avenida Beira Mar,823,Zona Nova,Capão da Canoa,RS,191,4,4,2,R$ 1.200.000
1,1,"Apartamento com 3 Quartos à Venda, 103m²",Avenida Venâncio Aíres,N/I,Zona Nova,Capão da Canoa,RS,103,3,3,2,R$ 795.000
2,2,"Apartamento com Quarto à Venda, 55m²",N/I,N/I,Capao Novo,Capão da Canoa,RS,55,1,1,1,R$ 169.500
3,3,"Apartamento com 2 Quartos à Venda, 64m²",N/I,N/I,N/I,Capão da Canoa,RS,64,2,2,1,R$ 265.000
4,4,"Apartamento com 3 Quartos à Venda, 171m²",Rua Guilherme Gutman,1249,Centro,Capão da Canoa,RS,171,3,3,1,R$ 850.000
5,5,"Apartamento com Quarto à Venda, 45m²",Rua Moacir,1989,Centro,Capão da Canoa,RS,45,1,1,1,R$ 296.000
6,6,"Apartamento com 2 Quartos à Venda, 68m²",N/I,N/I,N/I,Capão da Canoa,RS,68,2,2,1,R$ 820.000
7,7,"Apartamento com 2 Quartos à Venda, 98m²",Rua Marabá,N/I,Centro,Capão da Canoa,RS,98,2,2,2,R$ 450.000
8,8,"Apartamento com 3 Quartos à Venda, 150m²",N/I,N/I,Navegantes,Capão da Canoa,RS,150,3,3,2,R$ 1.650.000
9,9,"Apartamento com 3 Quartos à Venda, 72m²",N/I,N/I,Zona Nova,Capão da Canoa,RS,72,3,2,1,R$ 550.000
10,10,"Apartamento com 2 Quartos à Venda, 90m²",Rua Sepé,2728,Navegantes,Capão da Canoa,RS,90,2,2,1,R$ 520.000
11,11,"Apartamento com 6 Quartos à Venda, 420m²",Rua Guaraci,N/I,Centro,Capão da Canoa,RS,420,6,8,3,R$ 2.500.000 Preço abaixo do mercado
12,12,"Apartamento com 2 Quartos à Venda, 62m²",N/I,N/I,Zona Nova,Capão da Canoa,RS,62,2,2,1,R$ 340.000
13,13,"Apartamento com 2 Quartos à Venda, 83m²",Rua Moema,2393,Centro,Capão da Canoa,RS,83,2,2,1,R$ 495.000
14,14,"Apartamento com 2 Quartos à Venda, 80m²",Rua Sepé,2460,Centro,Capão da Canoa,RS,80,2,2,1,R$ 500.000
15,15,"Apartamento com 2 Quartos à Venda, 75m²",Rua Moacir,2115,Centro,Capão da Canoa,RS,75,2,1,1,R$ 480.000
16,16,"Apartamento com 2 Quartos à Venda, 69m²",Rua Sepé,3030,Navegantes,Capão da Canoa,RS,69,2,1,1,R$ 600.000
17,17,"Apartamento com 2 Quartos à Venda, 82m²",Rua Moacir,2115,Centro,Capão da Canoa,RS,82,2,2,1,R$ 470.000
18,18,"Apartamento com 2 Quartos à Venda, 80m²",Rua Sepé,2935,Navegantes,Capão da Canoa,RS,80,2,2,1,R$ 595.000
19,19,"Apartamento com 3 Quartos à Venda, 240m²",Avenida Neusa Goulart Brizola,276,Zona Nova,Capão da Canoa,RS,240,3,2,1,R$ 800.000 Preço abaixo do mercado

In [4]:
df.shape

(6168, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6168 entries, 0 to 6167
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6168 non-null   int64
 1   Título      6168 non-null   object
 2   Endereço    6168 non-null   object
 3   Número      6168 non-null   object
 4   Bairro      6168 non-null   object
 5   Cidade      6168 non-null   object
 6   Estado      6168 non-null   object
 7   Área        6168 non-null   int64
 8   Quartos     6168 non-null   int64
 9   Banheiros   6168 non-null   int64
 10  Vagas       6168 non-null   object
 11  Preço       6168 non-null   object
dtypes: int64(4), object(8)
memory usage: 578.4+ KB

In [6]:
df.isnull().sum()

Unnamed: 0    0
Título        0
Endereço      0
Número        0
Bairro        0
Cidade        0
Estado        0
Área          0
Quartos       0
Banheiros     0
Vagas         0
Preço         0
dtype: int64

In [7]:
df.describe()

        Unnamed: 0         Área      Quartos    Banheiros
count  6168.000000  6168.000000  6168.000000  6168.000000
mean   3083.500000    96.528534     2.260052     1.952983
std    1780.692562    51.622727     0.758379     0.846244
min       0.000000    10.000000     1.000000     1.000000
25%    1541.750000    70.000000     2.000000     1.000000
50%    3083.500000    89.000000     2.000000     2.000000
75%    4625.250000   114.000000     3.000000     2.000000
max    6167.000000  1310.000000    12.000000    12.000000

In [8]:
df["data"] = pd.to_datetime(df["data"])
df.head()

KeyError: 'data'