In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [2]:
df = pd.read_csv("capao2022.csv")

In [3]:
df.head(100)

,Unnamed: 0,Título,Endereço,Número,Bairro,Cidade,Estado,Área,Quartos,Banheiros,Vagas,Preço
0,0,"Apartamento com 4 Quartos à Venda, 191m²",Avenida Beira Mar,823,Zona Nova,Capão da Canoa,RS,191,4,4,2,R$ 1.200.000
1,1,"Apartamento com 3 Quartos à Venda, 103m²",Avenida Venâncio Aíres,N/I,Zona Nova,Capão da Canoa,RS,103,3,3,2,R$ 795.000
2,2,"Apartamento com Quarto à Venda, 55m²",N/I,N/I,Capao Novo,Capão da Canoa,RS,55,1,1,1,R$ 169.500
3,3,"Apartamento com 2 Quartos à Venda, 64m²",N/I,N/I,N/I,Capão da Canoa,RS,64,2,2,1,R$ 265.000
4,4,"Apartamento com 3 Quartos à Venda, 171m²",Rua Guilherme Gutman,1249,Centro,Capão da Canoa,RS,171,3,3,1,R$ 850.000
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,"Apartamento com Quarto à Venda, 55m²",Rua Marabá,1524,Centro,Capão da Canoa,RS,55,1,1,1,R$ 335.000
96,96,"Apartamento com 2 Quartos à Venda, 99m²",Rua Guaraci,2280,Centro,Capão da Canoa,RS,99,2,2,1,R$ 490.000\n \nPreço ab...
97,97,"Apartamento com 2 Quartos à Venda, 60m²",N/I,N/I,Zona Nova,Capão da Canoa,RS,60,2,2,1,R$ 380.000
98,98,"Apartamento com 2 Quartos à Venda, 80m²",Avenida Rudá,214,Centro,Capão da Canoa,RS,80,2,2,1,R$ 440.000
99,99,"Apartamento com 2 Quartos à Venda, 99m²",Rua Moacir,N/I,Centro,Capão da Canoa,RS,99,2,2,1,R$ 490.000\n \nPreço ab...

In [4]:
df.shape

(6168, 12)

In [5]:
df.columns

Index(['Unnamed: 0', 'Título', 'Endereço', 'Número', 'Bairro', 'Cidade',
       'Estado', 'Área', 'Quartos', 'Banheiros', 'Vagas', 'Preço'],
      dtype='object')

In [6]:
df1 = df.rename(columns={'Unnamed: 0':'ITEM', 'Título':'DESCRICAO', 'Endereço':'ENDERECO', 'Número':'NUMERO', 'Bairro':'BAIRRO', 'Cidade':'CIDADE', 'Estado':'ESTADO', 'Área':'AREA', 'Quartos':'QUARTOS', 'Banheiros':'BANHEIROS', 'Vagas':'VAGAS', 'Preço':'PRECO'})

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6168 entries, 0 to 6167
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ITEM       6168 non-null   int64
 1   DESCRICAO  6168 non-null   object
 2   ENDERECO   6168 non-null   object
 3   NUMERO     6168 non-null   object
 4   BAIRRO     6168 non-null   object
 5   CIDADE     6168 non-null   object
 6   ESTADO     6168 non-null   object
 7   AREA       6168 non-null   int64
 8   QUARTOS    6168 non-null   int64
 9   BANHEIROS  6168 non-null   int64
 10  VAGAS      6168 non-null   object
 11  PRECO      6168 non-null   object
dtypes: int64(4), object(8)
memory usage: 578.4+ KB

In [8]:
df1['VAGAS'] = pd.to_numeric(df1['VAGAS'], errors='coerce')

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6168 entries, 0 to 6167
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ITEM       6168 non-null   int64
 1   DESCRICAO  6168 non-null   object
 2   ENDERECO   6168 non-null   object
 3   NUMERO     6168 non-null   object
 4   BAIRRO     6168 non-null   object
 5   CIDADE     6168 non-null   object
 6   ESTADO     6168 non-null   object
 7   AREA       6168 non-null   int64
 8   QUARTOS    6168 non-null   int64
 9   BANHEIROS  6168 non-null   int64
 10  VAGAS      5827 non-null   float64
 11  PRECO      6168 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 578.4+ KB

In [10]:
df1['VAGAS'] = df1['VAGAS'].fillna(0)
df1.head(100)

,ITEM,DESCRICAO,ENDERECO,NUMERO,BAIRRO,CIDADE,ESTADO,AREA,QUARTOS,BANHEIROS,VAGAS,PRECO
0,0,"Apartamento com 4 Quartos à Venda, 191m²",Avenida Beira Mar,823,Zona Nova,Capão da Canoa,RS,191,4,4,2.0,R$ 1.200.000
1,1,"Apartamento com 3 Quartos à Venda, 103m²",Avenida Venâncio Aíres,N/I,Zona Nova,Capão da Canoa,RS,103,3,3,2.0,R$ 795.000
2,2,"Apartamento com Quarto à Venda, 55m²",N/I,N/I,Capao Novo,Capão da Canoa,RS,55,1,1,1.0,R$ 169.500
3,3,"Apartamento com 2 Quartos à Venda, 64m²",N/I,N/I,N/I,Capão da Canoa,RS,64,2,2,1.0,R$ 265.000
4,4,"Apartamento com 3 Quartos à Venda, 171m²",Rua Guilherme Gutman,1249,Centro,Capão da Canoa,RS,171,3,3,1.0,R$ 850.000
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,"Apartamento com Quarto à Venda, 55m²",Rua Marabá,1524,Centro,Capão da Canoa,RS,55,1,1,1.0,R$ 335.000
96,96,"Apartamento com 2 Quartos à Venda, 99m²",Rua Guaraci,2280,Centro,Capão da Canoa,RS,99,2,2,1.0,R$ 490.000\n \nPreço ab...
97,97,"Apartamento com 2 Quartos à Venda, 60m²",N/I,N/I,Zona Nova,Capão da Canoa,RS,60,2,2,1.0,R$ 380.000
98,98,"Apartamento com 2 Quartos à Venda, 80m²",Avenida Rudá,214,Centro,Capão da Canoa,RS,80,2,2,1.0,R$ 440.000
99,99,"Apartamento com 2 Quartos à Venda, 99m²",Rua Moacir,N/I,Centro,Capão da Canoa,RS,99,2,2,1.0,R$ 490.000\n \nPreço ab...

In [11]:
df1.isnull().sum()

ITEM         0
DESCRICAO    0
ENDERECO     0
NUMERO       0
BAIRRO       0
CIDADE       0
ESTADO       0
AREA         0
QUARTOS      0
BANHEIROS    0
VAGAS        0
PRECO        0
dtype: int64

In [12]:
df1['VAGAS'] = df1['VAGAS'].astype('int64')

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6168 entries, 0 to 6167
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ITEM       6168 non-null   int64
 1   DESCRICAO  6168 non-null   object
 2   ENDERECO   6168 non-null   object
 3   NUMERO     6168 non-null   object
 4   BAIRRO     6168 non-null   object
 5   CIDADE     6168 non-null   object
 6   ESTADO     6168 non-null   object
 7   AREA       6168 non-null   int64
 8   QUARTOS    6168 non-null   int64
 9   BANHEIROS  6168 non-null   int64
 10  VAGAS      6168 non-null   int64
 11  PRECO      6168 non-null   object
dtypes: int64(5), object(7)
memory usage: 578.4+ KB

In [14]:
df1.head(100)

,ITEM,DESCRICAO,ENDERECO,NUMERO,BAIRRO,CIDADE,ESTADO,AREA,QUARTOS,BANHEIROS,VAGAS,PRECO
0,0,"Apartamento com 4 Quartos à Venda, 191m²",Avenida Beira Mar,823,Zona Nova,Capão da Canoa,RS,191,4,4,2,R$ 1.200.000
1,1,"Apartamento com 3 Quartos à Venda, 103m²",Avenida Venâncio Aíres,N/I,Zona Nova,Capão da Canoa,RS,103,3,3,2,R$ 795.000
2,2,"Apartamento com Quarto à Venda, 55m²",N/I,N/I,Capao Novo,Capão da Canoa,RS,55,1,1,1,R$ 169.500
3,3,"Apartamento com 2 Quartos à Venda, 64m²",N/I,N/I,N/I,Capão da Canoa,RS,64,2,2,1,R$ 265.000
4,4,"Apartamento com 3 Quartos à Venda, 171m²",Rua Guilherme Gutman,1249,Centro,Capão da Canoa,RS,171,3,3,1,R$ 850.000
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,"Apartamento com Quarto à Venda, 55m²",Rua Marabá,1524,Centro,Capão da Canoa,RS,55,1,1,1,R$ 335.000
96,96,"Apartamento com 2 Quartos à Venda, 99m²",Rua Guaraci,2280,Centro,Capão da Canoa,RS,99,2,2,1,R$ 490.000\n \nPreço ab...
97,97,"Apartamento com 2 Quartos à Venda, 60m²",N/I,N/I,Zona Nova,Capão da Canoa,RS,60,2,2,1,R$ 380.000
98,98,"Apartamento com 2 Quartos à Venda, 80m²",Avenida Rudá,214,Centro,Capão da Canoa,RS,80,2,2,1,R$ 440.000
99,99,"Apartamento com 2 Quartos à Venda, 99m²",Rua Moacir,N/I,Centro,Capão da Canoa,RS,99,2,2,1,R$ 490.000\n \nPreço ab...

In [15]:
df1['PRECO'] = df1['PRECO'].str.replace(r'\D', '')

/var/folders/m_/60nwkd1s0mg9hkp28nc5q0xr0000gn/T/ipykernel_4812/2615323800.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['PRECO'] = df1['PRECO'].str.replace(r'\D', '')

In [16]:
df1.head(100)

,ITEM,DESCRICAO,ENDERECO,NUMERO,BAIRRO,CIDADE,ESTADO,AREA,QUARTOS,BANHEIROS,VAGAS,PRECO
0,0,"Apartamento com 4 Quartos à Venda, 191m²",Avenida Beira Mar,823,Zona Nova,Capão da Canoa,RS,191,4,4,2,1200000
1,1,"Apartamento com 3 Quartos à Venda, 103m²",Avenida Venâncio Aíres,N/I,Zona Nova,Capão da Canoa,RS,103,3,3,2,795000
2,2,"Apartamento com Quarto à Venda, 55m²",N/I,N/I,Capao Novo,Capão da Canoa,RS,55,1,1,1,169500
3,3,"Apartamento com 2 Quartos à Venda, 64m²",N/I,N/I,N/I,Capão da Canoa,RS,64,2,2,1,265000
4,4,"Apartamento com 3 Quartos à Venda, 171m²",Rua Guilherme Gutman,1249,Centro,Capão da Canoa,RS,171,3,3,1,850000
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,"Apartamento com Quarto à Venda, 55m²",Rua Marabá,1524,Centro,Capão da Canoa,RS,55,1,1,1,335000
96,96,"Apartamento com 2 Quartos à Venda, 99m²",Rua Guaraci,2280,Centro,Capão da Canoa,RS,99,2,2,1,490000
97,97,"Apartamento com 2 Quartos à Venda, 60m²",N/I,N/I,Zona Nova,Capão da Canoa,RS,60,2,2,1,380000
98,98,"Apartamento com 2 Quartos à Venda, 80m²",Avenida Rudá,214,Centro,Capão da Canoa,RS,80,2,2,1,440000
99,99,"Apartamento com 2 Quartos à Venda, 99m²",Rua Moacir,N/I,Centro,Capão da Canoa,RS,99,2,2,1,490000

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6168 entries, 0 to 6167
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ITEM       6168 non-null   int64
 1   DESCRICAO  6168 non-null   object
 2   ENDERECO   6168 non-null   object
 3   NUMERO     6168 non-null   object
 4   BAIRRO     6168 non-null   object
 5   CIDADE     6168 non-null   object
 6   ESTADO     6168 non-null   object
 7   AREA       6168 non-null   int64
 8   QUARTOS    6168 non-null   int64
 9   BANHEIROS  6168 non-null   int64
 10  VAGAS      6168 non-null   int64
 11  PRECO      6168 non-null   object
dtypes: int64(5), object(7)
memory usage: 578.4+ KB

In [18]:
df1['PRECO'] = df1['PRECO'].astype('int64')

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6168 entries, 0 to 6167
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ITEM       6168 non-null   int64
 1   DESCRICAO  6168 non-null   object
 2   ENDERECO   6168 non-null   object
 3   NUMERO     6168 non-null   object
 4   BAIRRO     6168 non-null   object
 5   CIDADE     6168 non-null   object
 6   ESTADO     6168 non-null   object
 7   AREA       6168 non-null   int64
 8   QUARTOS    6168 non-null   int64
 9   BANHEIROS  6168 non-null   int64
 10  VAGAS      6168 non-null   int64
 11  PRECO      6168 non-null   int64
dtypes: int64(6), object(6)
memory usage: 578.4+ KB

In [20]:
df1.head(100)

,ITEM,DESCRICAO,ENDERECO,NUMERO,BAIRRO,CIDADE,ESTADO,AREA,QUARTOS,BANHEIROS,VAGAS,PRECO
0,0,"Apartamento com 4 Quartos à Venda, 191m²",Avenida Beira Mar,823,Zona Nova,Capão da Canoa,RS,191,4,4,2,1200000
1,1,"Apartamento com 3 Quartos à Venda, 103m²",Avenida Venâncio Aíres,N/I,Zona Nova,Capão da Canoa,RS,103,3,3,2,795000
2,2,"Apartamento com Quarto à Venda, 55m²",N/I,N/I,Capao Novo,Capão da Canoa,RS,55,1,1,1,169500
3,3,"Apartamento com 2 Quartos à Venda, 64m²",N/I,N/I,N/I,Capão da Canoa,RS,64,2,2,1,265000
4,4,"Apartamento com 3 Quartos à Venda, 171m²",Rua Guilherme Gutman,1249,Centro,Capão da Canoa,RS,171,3,3,1,850000
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,"Apartamento com Quarto à Venda, 55m²",Rua Marabá,1524,Centro,Capão da Canoa,RS,55,1,1,1,335000
96,96,"Apartamento com 2 Quartos à Venda, 99m²",Rua Guaraci,2280,Centro,Capão da Canoa,RS,99,2,2,1,490000
97,97,"Apartamento com 2 Quartos à Venda, 60m²",N/I,N/I,Zona Nova,Capão da Canoa,RS,60,2,2,1,380000
98,98,"Apartamento com 2 Quartos à Venda, 80m²",Avenida Rudá,214,Centro,Capão da Canoa,RS,80,2,2,1,440000
99,99,"Apartamento com 2 Quartos à Venda, 99m²",Rua Moacir,N/I,Centro,Capão da Canoa,RS,99,2,2,1,490000

In [21]:
df1.isnull().sum()

ITEM         0
DESCRICAO    0
ENDERECO     0
NUMERO       0
BAIRRO       0
CIDADE       0
ESTADO       0
AREA         0
QUARTOS      0
BANHEIROS    0
VAGAS        0
PRECO        0
dtype: int64

In [22]:
df1.describe()

,ITEM,AREA,QUARTOS,BANHEIROS,VAGAS,PRECO
count,6168.000000,6168.000000,6168.000000,6168.000000,6168.000000,6.168000e+03
mean,3083.500000,96.528534,2.260052,1.952983,1.152724,7.768698e+05
std,1780.692562,51.622727,0.758379,0.846244,0.780014,5.865748e+05
min,0.000000,10.000000,1.000000,1.000000,0.000000,5.500000e+02
25%,1541.750000,70.000000,2.000000,1.000000,1.000000,4.700000e+05
50%,3083.500000,89.000000,2.000000,2.000000,1.000000,6.450000e+05
75%,4625.250000,114.000000,3.000000,2.000000,1.000000,8.799900e+05
max,6167.000000,1310.000000,12.000000,12.000000,19.000000,7.630000e+06

In [24]:
df1.to_csv('capao2022_limpo.csv', sep=',')